.hero {
  background-image: url('/assets/media/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 504px;
  margin-bottom: 20px;
  font-size: 28px;
  .special {
    font-family: Marck Script, sans-serif;
    font-size: 40px;
  }
  p {
    padding-left: 30px;
  }
  .script {
    font-family: Bad Script, sans-serif;
  }
  .first {
    padding: 60px 0 25px 85px;
  }
}

html {
  background: white url('/assets/media/page.jpeg') top center fixed;
}

body {
  background: none;
}

header {
  margin-bottom: 30px;
}

#map-canvas {
  img { max-width: none; }
  label { width: auto; display: inline; }
}

.top-bar .name h1 a {
  font-family: Gochi Hand, sans-serif;
  -webkit-text-stroke: 0;
}

h1, h2, h3 {
  font-family: Original Surfer, sans-serif;
  -webkit-text-stroke: 0.5px;
}

h2 {
  color: #165208;
}

.no-bottom {
  margin-bottom: 0 !important;
}

.add-bottom {
  margin-bottom: 20px !important;
}

.add-top {
  margin-top: 20px !important;
}

.no-top {
  margin-top: 0 !important;
}

.logo {
  font-family: Gochi Hand, sans-serif;
  font-size: emCalc(44px);
  color: $primary-color;
  -webkit-text-stroke: 0.5px;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.indent {
  padding-left: 1.25em;
}

@media #{$medium} {
  .target {
    position: relative;
    height: 527px;
    overflow: hidden;
    a {
      position: absolute;
      bottom: 1.25em;
    }
  }
}

footer {
  font-size: 82%;
}

