<div class="row add-bottom text-center">
  <div class="large-5 large-offset-1 push-6 columns add-bottom">
    <small><em>You And Me And Music Together</em> is now</small>
    <div class="logo">
      {{data.title}}
    </div>
    <small>Licensed <a href="http://www.musictogether.com/">Music Together&reg;</a> Center</small>
  </div>
  <div class="large-6 pull-6 columns">
    <h1 class="no-bottom">Music Classes for Toddlers,</h1>
    <h4 class="no-top">babies and kids to 7 in Pinellas</h4>
    <a class="button add-top show-for-small" href="/classes/">Learn More</a>
  </div>
</div>
