<div class="row add-bottom">
  <div class="large-6 large-offset-1 columns text-center">
    <h1 class="no-bottom">Music Classes for Toddlers,</h1>
    <h4 class="no-top">babies and ages up to 7 in Pinellas County</h4>
  </div>
  <div class="large-5 columns text-center">
    <small><em>You And Me And Music Together</em> is now</small>
    <div class="logo">
      Music and Me
    </div>
    <small>Certified <a href="http://www.musictogether.com/">Music Together&reg;</a> facility</small>
    <a class="button add-top hide-for-medium-up" href="/classes/">Learn More</a>
  </div>
</div>
