<div class="row">
  <div class="large-4 push-8 columns text-center">
    <small>You And Me And Music Together is now</small>

    <div class="logo">
      Music and Me
    </div>
  </div>

  <div class="large-8 pull-4 columns text-center">
    <h1 class="no-bottom">Music Classes for Toddlers,</h1>
  </div>
</div>

<div class="row">
  <div class="large-8 large-offset-4 columns text-center">
    <h4 class="no-top">babies and ages up to 7 on the St.&nbsp;Petersburg Peninsula</h4>
    <a class="button add-top hide-for-medium-up" href="/classes/">Learn More</a>
  </div>
</div>
